@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
    font-family: 'Mulish', sans-serif;
}

label{
    font-weight: 600;
    font-size: 24px;
    color: #04146c;
    margin-bottom: 1%;
}

.form-control{
    border-color: #8a9af1;
}

p{
    font-style: italic;
    font-size: 17.3px;
    color: #04146c;
    margin-top: 1%;
}

.btn{
    font-weight: 700;
    width: 150px;
    height: 50px;
    font-size: 24px;
    background-color: #5974ff;
}

.form-check-input{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-color: #8a9af1;
}
