@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
    font-family: 'Mulish', sans-serif;
}

h1{
    font-weight: 700;
    font-size: 4.5rem;
    color: #0a2ff1;
}

h2{
    font-weight: 700;
    font-size: 1.4rem;
}

p{
    font-weight: 400;
    font-size: 0.9rem;
}