@import "../node_modules/bootstrap/scss/bootstrap.scss";

body{
    font-family: 'Mulish', sans-serif;
}

h1{
    font-weight: 700;
    font-size: 53.3px;
    color: #3957f1;
}

h2{
    font-weight: 400;
    font-size: 28px;
    color: #15163d;
}
