.titulo {
  font-size: 37.48px;
  font-family: "Mulish";
  font-weight: 900;
  margin: 1% 0 1% 0;
  color: #04146c;
}

div {
  display: flex;
}

img {
  width: 55px;
  object-fit: contain;
  vertical-align: middle;
  margin: 0 15px 0 0;
}

.importante {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 16, 17pt;
  color: #0a2ff1;
}

p {
  width: 40%;
  margin: 0 0 0 70px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 19.97px;
  color: #04146c;
}
